// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.side-bar{
  float: right;
}

.main{
  float: left;
}

.table-right{
  float: right;
  padding-right: 20px;
}

.table-left{
  float: left;
  padding-left: 20px;
}
